interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.stocktwits.com/api/2/streams/user/epsguid.json?filter=all&limit=49
    response:
      body:
        string:
          '{"user":{"id":627461,"username":"epsguid","name":"Earnings Whispers
          News","avatar_url":"https://avatars.stocktwits.com/production/627461/thumb-1495623645.png","avatar_url_ssl":"https://avatars.stocktwits.com/production/627461/thumb-1495623645.png","join_date":"2015-11-04","official":false,"identity":"User","classification":["premium"],"home_country":"US","search_regions":[],"followers":3544,"following":377,"ideas":125627,"watchlist_stocks_count":0,"like_count":23,"plus_tier":"","premium_room":"","trade_app":false,"trade_status":"PENDING_MFA"},"cursor":{"more":true,"since":574485084,"max":574113031},"regions":[],"filters":[],"messages":[{"id":574485084,"body":"$OOMA
          reported earnings of $0.14, consensus was $0.11, Earnings Whisper was $0.12
          via @eWhispers #whisperbeat http://eps.sh/d/ooma","created_at":"2024-05-28T20:16:49Z","user":{"id":627461,"username":"epsguid","name":"Earnings
          Whispers News","avatar_url":"https://avatars.stocktwits.com/production/627461/thumb-1495623645.png","avatar_url_ssl":"https://avatars.stocktwits.com/production/627461/thumb-1495623645.png","join_date":"2015-11-04","official":false,"identity":"User","classification":["premium"],"home_country":"US","search_regions":[],"followers":3544,"following":377,"ideas":125627,"watchlist_stocks_count":0,"like_count":23,"plus_tier":"","premium_room":"","trade_app":false,"trade_status":"PENDING_MFA"},"source":{"id":2326,"title":"Earnings
          Whispers News","url":"https://www.earningswhispers.com"},"symbols":[{"id":8981,"symbol":"OOMA","symbol_mic":"OOMA.XNYS","title":"Ooma
          Inc","aliases":[],"is_following":false,"watchlist_count":520,"has_pricing":true,"instrument_class":"Stock","earnings_cta":"up_earn_tab","earnings_id":null}],"links":[{"title":null,"url":"http://eps.sh/d/ooma","shortened_url":"https://stkt.co/geVRIuDX","shortened_expanded_url":"eps.sh/d/ooma","description":null,"image":null,"created_at":"2024-05-28T20:16:58Z","video_url":null,"source":{"name":null,"website":null}}],"mentioned_users":["@eWhispers"],"entities":{"sentiment":null}},{"id":574484732,"body":"$CAVA
          reported earnings of $0.12, consensus was $0.03, Earnings Whisper was $0.06
          via @eWhispers #whisperbeat http://eps.sh/d/cava","created_at":"2024-05-28T20:14:50Z","user":{"id":627461,"username":"epsguid","name":"Earnings
          Whispers News","avatar_url":"https://avatars.stocktwits.com/production/627461/thumb-1495623645.png","avatar_url_ssl":"https://avatars.stocktwits.com/production/627461/thumb-1495623645.png","join_date":"2015-11-04","official":false,"identity":"User","classification":["premium"],"home_country":"US","search_regions":[],"followers":3544,"following":377,"ideas":125627,"watchlist_stocks_count":0,"like_count":23,"plus_tier":"","premium_room":"","trade_app":false,"trade_status":"PENDING_MFA"},"source":{"id":2326,"title":"Earnings
          Whispers News","url":"https://www.earningswhispers.com"},"symbols":[{"id":29990,"symbol":"CAVA","symbol_mic":"CAVA.XNYS","title":"CAVA
          Group Inc","aliases":[],"is_following":false,"watchlist_count":5517,"has_pricing":true,"instrument_class":"Stock","earnings_cta":"up_earn_tab","earnings_id":null}],"links":[{"title":null,"url":"http://eps.sh/d/cava","shortened_url":"https://stkt.co/o7ZnqUYH","shortened_expanded_url":"eps.sh/d/cava","description":null,"image":null,"created_at":"2024-05-28T20:14:59Z","video_url":null,"source":{"name":null,"website":null}}],"likes":{"total":1,"user_ids":[7429204]},"mentioned_users":["@eWhispers"],"entities":{"sentiment":null}},{"id":574484728,"body":"$BOX
          reported earnings of $0.39, consensus was $0.36, Earnings Whisper was $0.38
          via @eWhispers #whisperbeat http://eps.sh/d/box","created_at":"2024-05-28T20:14:49Z","user":{"id":627461,"username":"epsguid","name":"Earnings
          Whispers News","avatar_url":"https://avatars.stocktwits.com/production/627461/thumb-1495623645.png","avatar_url_ssl":"https://avatars.stocktwits.co[...]
